# Configuration file

general {
    S:modPack=Vanilla
    S:modPackVersion=1.0
    B:spammyLogs=false

    optout {
        B:OS=false
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:modPackVersion=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:FML=false
            B:abyssalcraft=false
            B:acintegration=false
            B:advancedrocketry=false
            B:advancedrocketrycore=false
            B:aov=false
            B:appliedenergistics2=false
            B:astralsorcery=false
            B:autoreglib=false
            B:baubles=false
            B:beneath=false
            B:biomebundle=false
            B:bookshelf=false
            B:brandonscore=false
            B:btg=false
            B:buildcraftbuilders=false
            B:buildcraftcore=false
            B:buildcraftenergy=false
            B:buildcraftfactory=false
            B:buildcraftlib=false
            B:buildcraftrobotics=false
            B:buildcraftsilicon=false
            B:buildcrafttransport=false
            B:chisel=false
            B:codechickenlib=false
            B:cofhcore=false
            B:cofhworld=false
            B:compactsolars=false
            B:cookingforblockheads=false
            B:crafttweaker=false
            B:crafttweakerjei=false
            B:ctgui=false
            B:ctm=false
            B:cyclopscore=false
            B:dmonsters=false
            B:draconicevolution=false
            B:dsurround=false
            B:energyconverters=false
            B:epicsiegemod=false
            B:everlastingabilities=false
            B:exnihilocreatio=false
            B:forge=false
            B:gargoyles=false
            B:gravestone=false
            B:grue=false
            B:hammercore=false
            B:harshencastle=false
            B:harvestcraft=false
            B:ic2=false
            B:icbmclassic=false
            B:iceandfire=false
            B:immersiveengineering=false
            B:immersivepetroleum=false
            B:infernalmobs=false
            B:inventorytweaks=false
            B:jei=false
            B:kelpie=false
            B:libvulpes=false
            B:llibrary=false
            B:lostcities=false
            B:lostsouls=false
            B:mantle=false
            B:mcp=false
            B:mercurius_updater=false
            B:minecraft=false
            B:nei=false
            B:nemesissystem=false
            B:nospawnzone=false
            B:opencomputers=false
            B:"opencomputers|core"=false
            B:openterraingenerator=false
            B:otgcore=false
            B:presets=false
            B:psi=false
            B:redstoneflux=false
            B:reptilemod=false
            B:rftools=false
            B:rftoolscontrol=false
            B:rftoolsdim=false
            B:simplequarry=false
            B:soundfilters=false
            B:spawntemple=false
            B:tammodized=false
            B:tconstruct=false
            B:techguns=false
            B:techguns_core=false
            B:thermalexpansion=false
            B:thermalfoundation=false
            B:thutcore=false
            B:thutcore_compat=false
            B:thuttech=false
            B:torotraits=false
            B:veinminer=false
            B:veinminermodsupport=false
            B:voidcraft=false
            B:voltzengine=false
            B:voltzenginepreloader=false
            B:wolfarmor=false
            B:xnet=false
        }

    }

}


